<div class="container">
  <%= link_to 'Home', root_path %>
  <h1><%= @deck.title %></h1>
  <div>
    <%= link_to 'Cards', deck_cards_path(@deck) %>
    <%= link_to 'New Card', new_deck_card_path(@deck) %>
  </div>
  <p><%= @deck.description %></p>
  <div>
    <%= link_to 'Edit Deck', edit_deck_path(@deck) %>
    <%= link_to 'Destroy Deck', deck_path(@deck), data: {
      turbo_method: :delete,
      turbo_confirm: 'Are you sure?'
    } %>
  </div>
</div>
